@import url('https://fonts.googleapis.com/css2?family=Lora:ital@0;1&family=Poppins:wght@400;500;600;700&display=swap');


:root{
    --primary-color:#f5f4f2;
    --text-dark:#57534e;
    --text-light:#78716c;
    --white:#ffffff;
    --max-width:1200px;
    --header-font:'Lora', serif;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.section_container{
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;

}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    
    font-family: 'Poppins', sans-serif;
}

nav{
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
}

.nav_links{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.links a{
    font-weight: 500;
    color: var(--text-light);
    transition: 0.3s;
}

.link a:hover{
color: var(--text-dark);
}

.nav_logo{
    text-align: center;
    cursor: pointer;
}

.nav_logo img{
    margin: auto;
    max-width: 120px;
}

.nav_logo h4{
    font-size: 1.5rem;
    font-family: var(--header-font);
    letter-spacing: 2px;
    color: var(--text-dark);
}

.nav_logo p{
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-light);
}


.header{
    margin-bottom: 10rem;
    background-image: url("img/header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header_container{
    min-height: 600px;
    position: relative;

}

.header_content{
    position: absolute;
    bottom: -10rem;
    padding: 2rem;
    background-color: var(--primary-color);
    border: 10px solid var(--white);
}

.header_content h4{
    position: relative;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 2px;
    color: var(--text-light);
}

.header_content h4::before{
    position: absolute;
    content: "";
    bottom: -1rem;
    left: 0;
    height: 2px;
    width: 40px;
    background-color: var(--text-light);
}

.header_content h1{
    width: 100%;
    max-width: 600px;
    font-size: 4rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.header_content h1 span{
    font-style: italic;
}

.about_container{
    padding: 10rem 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    align-items: center;
}

.about_content p{
    margin-bottom: 2rem;
    color: var(--text-light);
}


.about_content h4{
    position: relative;
    margin-bottom: 2rem;
    padding-left: 5rem;
    font-size: 1.5rem;
    font-family: var(--header-font);
    color: var(--text-dark);

}

.about_content h4::before {
position: absolute;
content: "";
top: 0;
left: 2rem;
height: 100%;
width: 1rem;
background-color: var(--primary-color);
}

.about_image img {
margin: auto;
max-width: 400px;
outline: 2px solid var(--text-light);
outline-offset: 1rem;
}

.banner{
    padding: 10rem 0;
    background-image: url("img/banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.banner_container{
    text-align: center;
    color: var(--white);
    font-family: var(--header-font);
}

.banner_container h4{
    font-size: 4rem;
    font-weight: 400;
}

.banner_container p{
    font-size: 1.5rem;
}

.display_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.display_col{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.display_content{
    padding: 4rem 0;
    flex: 1;
    display: grid;
    place-content: center;
    text-align: center;
    font-family: var(--header-font);
    color: var(--text-dark);

}

.display_col:nth-child(1) .display_content,
.display_col:nth-child(3) .display_content{
background-color: #edeae3;
}

.display_col:nth-child(2) .display_content{
    background-color: #daddd6;
}

.display_content h4{
    font-size: 2.5rem;
    font-weight: 400;
}

.display_content p{
    font-style: italic;
}

.footer{
    margin-top: 2rem;
    position: relative;
    background-color: var(--primary-color);
}

.footer_container{
    text-align: center;
}

.footer_container img{
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translateX(-50%);
    max-width: 150px;
}

.footer_container h4{
    max-width: 600px;
    margin: auto;
    margin-bottom: 3rem;
    font-size: 3rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--text-dark);
}

.footer_container p{
    max-width: 1000px;
    margin: auto;
    margin-bottom: 2rem;
    color: var(--text-light);
}

.footer_container button{
    padding: 1rem 2rem;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-light);
    background-color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}

.footer_container button:hover{
    color: var(--text-dark);
}

.footer_bar{
    padding: 1rem;
    text-align: center;
    font-size: .8rem;
    color: var(--text-light);
}

@media (width < 900px) {
   .about_container{
    grid-template-columns: repeat(1, 1fr);
    gap: 5rem;
   } 

   .about_image{
    grid-area: 1/1/2/2;
   }

   .display_container{
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
   }

   .display_col:nth-child(3){
    display: none;
   }
}

@media (width < 600px){
    .link{
        display: none;
    }

    .header{
        margin-bottom: 20rem;
    }

    .header_content{
        bottom: -20rem;
    }

    .display_container{
        grid-template-columns: repeat(1, 1fr);
    }

    .display_col:nth-child(3){
        display: flex;
    }
}
